.home__banner-section {
    color: #fff;
    padding: 100px 0;
}

.home__banner-row {
    align-items: center;
}

.row {
    display: flex;
    margin-right: -15px;
    margin-bottom: -15px;
    margin-left: -15px;
    flex-wrap: wrap;
    align-content: stretch;
}

.col {
    margin-bottom: 15px;
    padding-right: 15px;
    padding-left: 15px;
    flex: 1;
    max-width: 50%;
    /* flex-basis: 50%; */
}


.home__banner-text-wrapper {
    max-width: 540px;
    padding-top: 0;
    padding-bottom: 60px;
}

.top-line {
    color: #f00946;
    font-size: 16px;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: 1.4px;
    text-transform: uppercase;
    margin-bottom: 16px;
}

.heading {
    margin-bottom: 24px;
    font-size: 48px;
    line-height: 1.1;
    font-weight: 600;
    color: #f7f8fa;
}

/* .dark {
    color: #1c2237;   
} */

.darkBg {
    background-color: #1c2237;
}

.home__banner-subtitle {
    max-width: 440px;
    margin-bottom: 35px;
    font-size: 18px;
    line-height: 24px;
}

.home__banner-img-wrapper {
    max-width: 555px;
}

.home__banner-img {
    max-width: 95%;
    padding-right: 0;
    margin: 0 0 0 10px;
}

img {
    border: 0;
    max-width: 100%;
    vertical-align: middle;
    display: inline;
}

@media screen and (max-width: 991px)
{
    .container {
        width: 100%;
        padding-left: 0px;
        padding-right: 0px;
    }
    .home__banner-text-wrapper {
        padding-bottom: 65px;
        width: 100%;
        max-width: 100%;
    }

    .col {
        max-width: 100% !important;
        flex-basis: 100%;
        padding: 10px 80px;
    }
    .row{
        margin-right: 0px;
    }
}

@media screen and (max-width: 768px)
{
    .container {
        width: 100% !important;
        padding-left: 0px;
        padding-right: 0px;
    }
    .home__banner-text-wrapper {
        padding-bottom: 65px;
        width: 100%;
        max-width: 100%;
    }
    .row{
        margin-right: 0px;
    }

    .col {
        max-width: 768px !important;
        flex-basis: 100%;
    }

    .home__banner-img {
        max-width: 95%;
        padding-right: 0;
        margin: 0 0 0 10px;
    }

    .home__banner-text-wrapper {
        max-width: 100% !important;
    }

}

@media screen and (max-width: 668px)
{
    .container {
        width: 100% !important;
        padding-left: 0px;
        padding-right: 0px;
    }
    .row{
        margin-right: 0px;
    }
    .home__banner-text-wrapper {
        padding-bottom: 65px;
        width: 100%;
        max-width: 100%;
    }

    .home__banner-text-wrapper {
        max-width: 100% !important;
    }

    .col {
        max-width: 100% !important;
        flex-basis: 100%;
    }
}

